@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .bg-blue-dark {
    @apply bg-[#080e1f]
  }

  .text-blue-dark {
    @apply text-[#080e1f]
  }

  .bg-light-dotted {
    @apply absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]
  }

  .bg-dark-dotted {
    @apply absolute top-0 z-[-2] h-screen w-screen bg-[#030711] bg-[radial-gradient(#ffffff33_1px,#00000d_1px)] bg-[size:20px_20px]
  }
}

@keyframes shimmerEffect {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.bg-shimmer {
  background-size: 200% 100%;
  animation: shimmerEffect 3s infinite linear;
}

.loadership_ZJSLQ {
  display: flex;
  position: relative;
  width: 68px;
  height: 68px;
}

.loadership_ZJSLQ div {
  animation: loadership_ZJSLQ_roller 1.12s infinite;
  animation-timing-function: ease-in-out;
  transform-origin: 34px 34px;
}
.loadership_ZJSLQ div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d8d8d8;
}

.loadership_ZJSLQ div:nth-child(1) {
      animation-delay: 0.00s;
    }
    .loadership_ZJSLQ div:nth-child(1):after {
      top: 60px;
      left: 30px;
    }


.loadership_ZJSLQ div:nth-child(2) {
      animation-delay: -0.03s;
    }
    .loadership_ZJSLQ div:nth-child(2):after {
      top: 56px;
      left: 45px;
    }


.loadership_ZJSLQ div:nth-child(3) {
      animation-delay: -0.07s;
    }
    .loadership_ZJSLQ div:nth-child(3):after {
      top: 45px;
      left: 56px;
    }


.loadership_ZJSLQ div:nth-child(4) {
      animation-delay: -0.10s;
    }
    .loadership_ZJSLQ div:nth-child(4):after {
      top: 30px;
      left: 60px;
    }


.loadership_ZJSLQ div:nth-child(5) {
      animation-delay: -0.13s;
    }
    .loadership_ZJSLQ div:nth-child(5):after {
      top: 15px;
      left: 56px;
    }


.loadership_ZJSLQ div:nth-child(6) {
      animation-delay: -0.17s;
    }
    .loadership_ZJSLQ div:nth-child(6):after {
      top: 4px;
      left: 45px;
    }


.loadership_ZJSLQ div:nth-child(7) {
      animation-delay: -0.20s;
    }
    .loadership_ZJSLQ div:nth-child(7):after {
      top: 0px;
      left: 30px;
    }


.loadership_ZJSLQ div:nth-child(8) {
      animation-delay: -0.24s;
    }
    .loadership_ZJSLQ div:nth-child(8):after {
      top: 4px;
      left: 15px;
    }


.loadership_ZJSLQ div:nth-child(9) {
      animation-delay: -0.27s;
    }
    .loadership_ZJSLQ div:nth-child(9):after {
      top: 15px;
      left: 4px;
    }


.loadership_ZJSLQ div:nth-child(10) {
      animation-delay: -0.30s;
    }
    .loadership_ZJSLQ div:nth-child(10):after {
      top: 30px;
      left: 0px;
    }


.loadership_ZJSLQ div:nth-child(11) {
      animation-delay: -0.34s;
    }
    .loadership_ZJSLQ div:nth-child(11):after {
      top: 45px;
      left: 4px;
    }


.loadership_ZJSLQ div:nth-child(12) {
      animation-delay: -0.37s;
    }
    .loadership_ZJSLQ div:nth-child(12):after {
      top: 56px;
      left: 15px;
    }



@keyframes loadership_ZJSLQ_roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

